In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import StandardScaler
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix
%matplotlib inline

In [ ]:
def about_this_file():
  """

  This dataset describes the medical records for Pima Indians
  and whether or not each patient will have an onset of diabetes within ve years.

  Fields description follow:

  preg = Number of times pregnant #didnt change 

  plas = Plasma glucose concentration a 2 hours in an oral glucose tolerance test

  pres = Diastolic blood pressure (mm Hg)

  skin = Triceps skin fold thickness (mm)

  test = 2-Hour serum insulin (mu U/ml)

  mass = Body mass index (weight in kg/(height in m)^2)

  pedi = Diabetes pedigree function #didnt change 

  age = Age (years)

  class = Class variable (1:tested positive for diabetes, 0: tested negative for diabetes)
  """

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/IST347/Week_7/pima-indians-diabetes.csv', names = ['preg','plas','pres','skin','test','mess','pedi','age','class'])

In [ ]:
df.head(10) #check first 10 rows

   preg  plas  pres  skin  test  mess   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

In [ ]:
df.columns

Index(['preg', 'plas', 'pres', 'skin', 'test', 'mess', 'pedi', 'age', 'class'], dtype='object')

In [ ]:
# when list.pop, dont assign to a variable because it will save the popped data
cols = list(df.columns)
cols.pop(0) # exclude preg because preg could be 0
cols

['plas', 'pres', 'skin', 'test', 'mess', 'pedi', 'age', 'class']

In [ ]:
for col in cols[:-1]: 
  df[col] = df[col].mask(df[col] == 0, df[col].mean())

In [ ]:
df.head(10) # check 0 has been replaced with mean

   preg   plas       pres       skin        test       mess   pedi  age  class
0     6  148.0  72.000000  35.000000   79.799479  33.600000  0.627   50      1
1     1   85.0  66.000000  29.000000   79.799479  26.600000  0.351   31      0
2     8  183.0  64.000000  20.536458   79.799479  23.300000  0.672   32      1
3     1   89.0  66.000000  23.000000   94.000000  28.100000  0.167   21      0
4     0  137.0  40.000000  35.000000  168.000000  43.100000  2.288   33      1
5     5  116.0  74.000000  20.536458   79.799479  25.600000  0.201   30      0
6     3   78.0  50.000000  32.000000   88.000000  31.000000  0.248   26      1
7    10  115.0  69.105469  20.536458   79.799479  35.300000  0.134   29      0
8     2  197.0  70.000000  45.000000  543.000000  30.500000  0.158   53      1
9     8  125.0  96.000000  20.536458   79.799479  31.992578  0.232   54      1

In [ ]:
df.describe() # check the statistic

             preg        plas        pres  ...        pedi         age       class
count  768.000000  768.000000  768.000000  ...  768.000000  768.000000  768.000000
mean     3.845052  121.681605   72.254807  ...    0.471876   33.240885    0.348958
std      3.369578   30.436016   12.115932  ...    0.331329   11.760232    0.476951
min      0.000000   44.000000   24.000000  ...    0.078000   21.000000    0.000000
25%      1.000000   99.750000   64.000000  ...    0.243750   24.000000    0.000000
50%      3.000000  117.000000   72.000000  ...    0.372500   29.000000    0.000000
75%      6.000000  140.250000   80.000000  ...    0.626250   41.000000    1.000000
max     17.000000  199.000000  122.000000  ...    2.420000   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
X = df.drop('class', axis = 1)
y = df['class']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
scaler = StandardScaler()
scaled_X_train = scaler.fit_transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [ ]:
model = GaussianNB()
clf = model.fit(X_train, y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.77      0.79       123
           1       0.62      0.65      0.63        69

    accuracy                           0.73       192
   macro avg       0.71      0.71      0.71       192
weighted avg       0.73      0.73      0.73       192

In [ ]:
print(confusion_matrix(y_test, y_pred))

[[95 28]
 [24 45]]

**What result did I get?**

The overall accuracy is 73%, not too bad. However, the precision on 0 and 1 has different. 0 is much higher than 1. I think we probably need to do more test to see if it's always like this.

In [ ]:
model_cv = GaussianNB()

In [ ]:
scores = cross_validate(model_cv, X_train, y_train, scoring=['accuracy', 'f1'], cv = 10)

In [ ]:
scores_df = pd.DataFrame(scores)
print(scores_df)

   fit_time  score_time  test_accuracy   test_f1
0  0.004051    0.004074       0.724138  0.529412
1  0.003802    0.004512       0.827586  0.761905
2  0.004048    0.002529       0.810345  0.685714
3  0.002048    0.001998       0.637931  0.461538
4  0.001881    0.001983       0.775862  0.628571
5  0.002025    0.001956       0.810345  0.731707
6  0.001823    0.001964       0.736842  0.571429
7  0.001894    0.001985       0.684211  0.571429
8  0.001790    0.001990       0.754386  0.631579
9  0.001840    0.001900       0.684211  0.470588

In [ ]:
scores_df.test_accuracy.mean()

0.7445856019358741