In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('mode.chained_assignment', None) # remove the wierd SettingwithCopyWarning here
%matplotlib inline

Step 1: Correct Missing values

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/IST347_Machine-Learning-in-Healthcare/Week_2/Assignment#1_Part2_Online_Activity.csv')
df.head()

  Gender              Race  Birth_Year  ... Facebook  Twitter  Other_Social_Network
0      M             White        1972  ...        Y        N                   NaN
1      M          Hispanic        1981  ...        Y        N                   NaN
2      F  African American        1977  ...        Y        N                   NaN
3      F             White        1961  ...        N        Y                   NaN
4      M             White        1954  ...        Y        N                   NaN

[5 rows x 15 columns]

b.	Describe the dataset and provide

In [ ]:
df.describe

<bound method NDFrame.describe of    Gender              Race  Birth_Year  ... Facebook  Twitter  Other_Social_Network
0       M             White        1972  ...        Y        N                   NaN
1       M          Hispanic        1981  ...        Y        N                   NaN
2       F  African American        1977  ...        Y        N                   NaN
3       F             White        1961  ...        N        Y                   NaN
4       M             White        1954  ...        Y        N                   NaN
5       M  African American        1982  ...        N        N                   NaN
6       M  African American        1981  ...        Y        Y              LinkedIn
7       M             White        1977  ...        Y       99              LinkedIn
8       F  African American        1969  ...        N        N                   NaN
9       M             White        1987  ...        Y        N               MySpace
10      F          Hispanic        1959  ...        Y        N               Google+

[11 rows x 15 columns]>

•	number of rows/columns,

In [ ]:
df.shape

(11, 15)

•	data type

In [ ]:
df.dtypes

Gender                     object
Race                       object
Birth_Year                  int64
Marital_Status             object
Years_on_Internet           int64
Hours_Per_Day               int64
Preferred_Browser          object
Preferred_Search_Engine    object
Preferred_Email            object
Read_News                  object
Online_Shopping            object
Online_Gaming              object
Facebook                   object
Twitter                    object
Other_Social_Network       object
dtype: object

•	attribute columns

In [ ]:
df.columns

Index(['Gender', 'Race', 'Birth_Year', 'Marital_Status', 'Years_on_Internet',
       'Hours_Per_Day', 'Preferred_Browser', 'Preferred_Search_Engine',
       'Preferred_Email', 'Read_News', 'Online_Shopping', 'Online_Gaming',
       'Facebook', 'Twitter', 'Other_Social_Network'],
      dtype='object')

c.	Replace the attribute “Online_Gaming“ missing value as “N”

In [ ]:
df.isna().sum()

Gender                     0
Race                       0
Birth_Year                 0
Marital_Status             0
Years_on_Internet          0
Hours_Per_Day              0
Preferred_Browser          0
Preferred_Search_Engine    0
Preferred_Email            0
Read_News                  1
Online_Shopping            2
Online_Gaming              3
Facebook                   0
Twitter                    0
Other_Social_Network       7
dtype: int64

In [ ]:
df.Online_Gaming = df.Online_Gaming.fillna('N')

In [ ]:
df.isna().sum()

Gender                     0
Race                       0
Birth_Year                 0
Marital_Status             0
Years_on_Internet          0
Hours_Per_Day              0
Preferred_Browser          0
Preferred_Search_Engine    0
Preferred_Email            0
Read_News                  1
Online_Shopping            2
Online_Gaming              0
Facebook                   0
Twitter                    0
Other_Social_Network       7
dtype: int64

Step 2: Data Reduction: 
Remove only those rows with missing values in online_shopping

In [ ]:
df.dropna(how='any',subset=['Online_Shopping'],inplace=True)
df

   Gender              Race  Birth_Year  ... Facebook  Twitter  Other_Social_Network
0       M             White        1972  ...        Y        N                   NaN
1       M          Hispanic        1981  ...        Y        N                   NaN
2       F  African American        1977  ...        Y        N                   NaN
3       F             White        1961  ...        N        Y                   NaN
4       M             White        1954  ...        Y        N                   NaN
5       M  African American        1982  ...        N        N                   NaN
6       M  African American        1981  ...        Y        Y              LinkedIn
8       F  African American        1969  ...        N        N                   NaN
10      F          Hispanic        1959  ...        Y        N               Google+

[9 rows x 15 columns]

Step 3: Replace Invalid Data:
Replace 99 with 'N' in 'Twitter'

In [ ]:
df['Twitter'] == 'N'

0      True
1      True
2      True
3     False
4      True
5      True
6     False
8      True
10     True
Name: Twitter, dtype: bool

In [ ]:
#df.Twitter = df.Twitter.replace('N',99)
df.loc[df['Twitter'] == 99,'Twitter'] = 'N'  # run this again, misunderstand prompt
df

   Gender              Race  Birth_Year  ... Facebook  Twitter  Other_Social_Network
0       M             White        1972  ...        Y        N                   NaN
1       M          Hispanic        1981  ...        Y        N                   NaN
2       F  African American        1977  ...        Y        N                   NaN
3       F             White        1961  ...        N        Y                   NaN
4       M             White        1954  ...        Y        N                   NaN
5       M  African American        1982  ...        N        N                   NaN
6       M  African American        1981  ...        Y        Y              LinkedIn
8       F  African American        1969  ...        N        N                   NaN
10      F          Hispanic        1959  ...        Y        N               Google+

[9 rows x 15 columns]

Step 4: Attribute reduction - Reduce the number of attributes by eliminating unused attributes 

Remove “Other_Social_Network”

In [ ]:
df.drop('Other_Social_Network',axis=1,inplace=True)
df.columns

Index(['Gender', 'Race', 'Birth_Year', 'Marital_Status', 'Years_on_Internet',
       'Hours_Per_Day', 'Preferred_Browser', 'Preferred_Search_Engine',
       'Preferred_Email', 'Read_News', 'Online_Shopping', 'Online_Gaming',
       'Facebook', 'Twitter'],
      dtype='object')

Step 4: Save your notebook and upload to canvas.

Step 5: Using text cells, write briefly your observations and inferences.